In [1]:
import pandas as pd
import numpy as np
import requests 
import json
import re

In [32]:
df = pd.read_csv('./data/old_population.csv')

In [33]:
df = df.loc[:, ['연도', '읍/면', '리', '전체인구수', '60세이상노인인구수']]
df['주소'] = '부여군 ' + df['읍/면'] + ' ' + df['리']
df_addr = df[['주소']]
df_addr.head()

             주소
0  부여군 구룡면 구봉1리
1  부여군 구룡면 구봉2리
2  부여군 구룡면 구봉3리
3   부여군 구룡면 죽절리
4  부여군 구룡면 주정1리

In [4]:
API_KEY = 'c8d2487b6ee1ee531c4b6899126efe7f'
headers = {'Authorization' : 'KakaoAK '+API_KEY}
headers

{'Authorization': 'KakaoAK c8d2487b6ee1ee531c4b6899126efe7f'}

In [7]:
def getLat(addr):
    url = 'https://dapi.kakao.com/v2/local/search/address.json?query=' + addr
    result = json.loads(str(requests.get(url, headers=headers).text))
    if len(result['documents']) == 0:
        new_addr = re.sub(r'[0-9]+', '', addr)
        url = 'https://dapi.kakao.com/v2/local/search/address.json?query=' + new_addr
        result = json.loads(str(requests.get(url, headers=headers).text))

    match_first = result['documents'][0]['address']

    return float(match_first['y'])

def getLng(addr):
    url = 'https://dapi.kakao.com/v2/local/search/address.json?query=' + addr
    result = json.loads(str(requests.get(url, headers=headers).text))
    if len(result['documents']) == 0:
        new_addr = re.sub(r'[0-9]+', '', addr)
        url = 'https://dapi.kakao.com/v2/local/search/address.json?query=' + new_addr
        result = json.loads(str(requests.get(url, headers=headers).text))
        
    match_first = result['documents'][0]['address']
    return float(match_first['x'])

In [8]:
lng = getLng(df_addr['주소'][4])
lat = getLat(df_addr['주소'][4])
print(lng, lat)

126.821951040264 36.2536148355823

In [34]:
for i in range(len(df)):
    try:
        lng = getLng(df_addr['주소'][i])
        lat = getLat(df_addr['주소'][i])
        df_addr.loc[i,['경도']] = lng
        df_addr.loc[i,['위도']] = lat

    except:
        print('error',i)
        
    
    if i%100 == 0:
        print('{} 번째 주소에 대한 좌표정보 불러오는 중...'.format(i))

0 번째 주소에 대한 좌표정보 불러오는 중...
100 번째 주소에 대한 좌표정보 불러오는 중...
200 번째 주소에 대한 좌표정보 불러오는 중...
300 번째 주소에 대한 좌표정보 불러오는 중...
400 번째 주소에 대한 좌표정보 불러오는 중...
500 번째 주소에 대한 좌표정보 불러오는 중...
600 번째 주소에 대한 좌표정보 불러오는 중...
700 번째 주소에 대한 좌표정보 불러오는 중...
800 번째 주소에 대한 좌표정보 불러오는 중...
error 817
900 번째 주소에 대한 좌표정보 불러오는 중...
1000 번째 주소에 대한 좌표정보 불러오는 중...
1100 번째 주소에 대한 좌표정보 불러오는 중...
1200 번째 주소에 대한 좌표정보 불러오는 중...
1300 번째 주소에 대한 좌표정보 불러오는 중...
error 1356
1400 번째 주소에 대한 좌표정보 불러오는 중...
1500 번째 주소에 대한 좌표정보 불러오는 중...
1600 번째 주소에 대한 좌표정보 불러오는 중...
1700 번째 주소에 대한 좌표정보 불러오는 중...
1800 번째 주소에 대한 좌표정보 불러오는 중...
1900 번째 주소에 대한 좌표정보 불러오는 중...
2000 번째 주소에 대한 좌표정보 불러오는 중...
2100 번째 주소에 대한 좌표정보 불러오는 중...
2200 번째 주소에 대한 좌표정보 불러오는 중...
2300 번째 주소에 대한 좌표정보 불러오는 중...
2400 번째 주소에 대한 좌표정보 불러오는 중...
2500 번째 주소에 대한 좌표정보 불러오는 중...
2600 번째 주소에 대한 좌표정보 불러오는 중...
2700 번째 주소에 대한 좌표정보 불러오는 중...
2800 번째 주소에 대한 좌표정보 불러오는 중...
2900 번째 주소에 대한 좌표정보 불러오는 중...
3000 번째 주소에 대한 좌표정보 불러오는 중...
3100 번째 주소에 대한 좌표정보 불러오는 중...
3200 번째 주소에 대한 좌표정보 불러오는 중...
3300 번째 주소에 대한 좌표정보 불러오는 중...
3400 번째 주소에 대한 좌표정보 불러오는 중...
3500 번째 주소에 대한 좌표정보 불러오는 중...
3600 번째 주소에 대한 좌표정보 불러오는 중...
3700 번째 주소에 대한 좌표정보 불러오는 중...
3800 번째 주소에 대한 좌표정보 불러오는 중...
3900 번째 주소에 대한 좌표정보 불러오는 중...
4000 번째 주소에 대한 좌표정보 불러오는 중...
4100 번째 주소에 대한 좌표정보 불러오는 중...
4200 번째 주소에 대한 좌표정보 불러오는 중...
4300 번째 주소에 대한 좌표정보 불러오는 중...
4400 번째 주소에 대한 좌표정보 불러오는 중...
4500 번째 주소에 대한 좌표정보 불러오는 중...
4600 번째 주소에 대한 좌표정보 불러오는 중...
4700 번째 주소에 대한 좌표정보 불러오는 중...

In [41]:
df_addr.iloc[1356]

주소    부여군 부여읍 가증1리
경도      126.946247
위도       36.302555
Name: 1356, dtype: object

In [40]:
lng = getLng('부여군 부여읍 가증리')
lat = getLat('부여군 부여읍 가증리')
df_addr.loc[1356,['경도']] = lng
df_addr.loc[1356,['위도']] = lat

In [42]:
df['경도'] = df_addr['경도']
df['위도'] = df_addr['위도']

In [51]:
df.head()

     연도  읍/면     리  전체인구수  60세이상노인인구수            주소          경도         위도
0  2022  구룡면  구봉1리    110          65  부여군 구룡면 구봉1리  126.839518  36.261862
1  2022  구룡면  구봉2리     49          26  부여군 구룡면 구봉2리  126.839508  36.261593
2  2022  구룡면  구봉3리     52          33  부여군 구룡면 구봉3리  126.839729  36.261491
3  2022  구룡면   죽절리    186         101   부여군 구룡면 죽절리  126.820220  36.265256
4  2022  구룡면  주정1리     89          49  부여군 구룡면 주정1리  126.821951  36.253615

In [53]:
df['60세이상노인비율'] = df['60세이상노인인구수'] / df['전체인구수']

In [54]:
df.head()

,연도,읍/면,리,전체인구수,60세이상노인인구수,주소,경도,위도,60세이상노인비율
0,2022,구룡면,구봉1리,110,65,부여군 구룡면 구봉1리,126.839518,36.261862,0.590909
1,2022,구룡면,구봉2리,49,26,부여군 구룡면 구봉2리,126.839508,36.261593,0.530612
2,2022,구룡면,구봉3리,52,33,부여군 구룡면 구봉3리,126.839729,36.261491,0.634615
3,2022,구룡면,죽절리,186,101,부여군 구룡면 죽절리,126.820220,36.265256,0.543011
4,2022,구룡면,주정1리,89,49,부여군 구룡면 주정1리,126.821951,36.253615,0.550562

In [56]:
df = df.loc[:, ['연도', '경도', '위도', '60세이상노인비율']]

In [ ]:
df.to_csv('./data/preprocessed_old_population.csv', encoding='utf-8-sig', index=False)