In [1]:
import pandas as pd
import numpy as np
import requests 
import json

In [9]:
df_T = pd.read_csv('./data/temperature_humidity.csv')
df_W = pd.read_csv('./data/wind_speed_rain.csv')

In [16]:
# 일시, 평균기온(°C), 최저기온(°C), 최고기온(°C), 평균 상대습도\n(%)
df_T = df_T.loc[:, ['일시', '평균기온(°C)', '최저기온(°C)', '최고기온(°C)', '평균 상대습도\n(%)']]
df_T = df_T.fillna(0)
df_T.head()

           일시  평균기온(°C)  최저기온(°C)  최고기온(°C)  평균 상대습도\n(%)
0  2012-01-01      -1.4      -6.1       0.9          73.0
1  2012-01-02      -3.4      -8.2       1.3          73.0
2  2012-01-03      -3.1      -7.1       1.6          81.3
3  2012-01-04      -3.8      -5.8      -1.9          65.8
4  2012-01-05      -5.9     -10.8       0.2          71.5

In [17]:
# 일강수량(mm), 평균 풍속(m/s)
df_W = df_W.loc[:, ['일강수량(mm)', '평균 풍속(m/s)']]
df_W = df_W.fillna(0)
df_W.head()

   일강수량(mm)  평균 풍속(m/s)
0       1.5         1.6
1       0.0         0.7
2       1.5         1.1
3       0.5         2.0
4       0.0         0.8

In [25]:
df = pd.concat([df_T, df_W], axis=1)
df.head()

,일시,평균기온(°C),최저기온(°C),최고기온(°C),평균 상대습도\n(%),일강수량(mm),평균 풍속(m/s)
0,2012-01-01,-1.4,-6.1,0.9,73.0,1.5,1.6
1,2012-01-02,-3.4,-8.2,1.3,73.0,0.0,0.7
2,2012-01-03,-3.1,-7.1,1.6,81.3,1.5,1.1
3,2012-01-04,-3.8,-5.8,-1.9,65.8,0.5,2.0
4,2012-01-05,-5.9,-10.8,0.2,71.5,0.0,0.8

In [26]:
df.to_csv('./data/preprocessed_weather.csv', encoding='utf-8-sig', index=False)